* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.calculator {
  background-color: #000;
  width: 400px;
  height: 500px;
  border-radius: 25px;
  margin: 100px auto 0;
  padding-top: 50px;
}

.all-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.output {
  background-color: #fff;
  color: #000;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 4.8rem;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 80%;
  height: 75px;
  margin: 0 auto 25px;
}

button {
  cursor: pointer;
  font-weight: bold;
  font-size: 3.6rem;
  border: none;
  background-color: #fff;
  color: #000;
  height: 60px;
  width: 60px;
  border-radius: 10000px;
}

.button-row {
  display: flex;
  gap: 12px;
}
